.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  background-color: #E8FAFF;
}

nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  height: 80px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

    nav ul li {
      cursor: pointer;
      text-align: center;
      font-size: 18px;
      font-family: "Inter", sans-serif;
      font-weight: bold;
      font-variant: small-caps;
      transition: color 0.3s;
    }

      nav ul li:hover{
        color: orange;
      }

.navbar-link {
  cursor: pointer;
}

#top {
  position: relative;
  width: 100%;
  min-height: 450px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

  #top::before {
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(to top, #fff, transparent);
    z-index: 1000;
  }

  #top #bg {
    object-fit: cover;
  }


  #top img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

#text {
  position: relative;
  color:white;
  font-size: 5rem;
  z-index: 1;
}

#sec {
  padding: 0 100px;
}

  #sec h2 {
    font-size: 4rem;
    margin-bottom: 30px;
    color:#20496a;
  }

#sec p {
  text-align: justify;
  text-indent: 1.12em;
  font-variant: small-caps;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
  color: #20496a;
}

  #sec p:first-letter{
    font-size: 1.5rem;
    font-weight: bold;
    color: #04046e;
  }


